mixin teamlist
	div#teamlist.contentlarge
		table
			tr
				th
				th
				th
				th
				th.center='RATING'
				th.center='REGION'
				th.center='GAMES'
			each team, i in teams
				tr
					td(style="width:40px;").green='+1'
					td(style="width:30px;").blue=i+1	
					td(style="width:38px;")
						if (team.logos[0])
							a(href= '/teams/' + team.name)
								img(src= '/img/lgs/lgs-'+ team.logos[0] + '.png')
					td.teamname(style="width:500px;")
						a(href= '/teams/' + team.name) #{team.name}
					td.center(style="width: 90px;")= Math.round(team.elo)
					td.center(style="width:90px")
						img(src= '/img/flags/' + team.region + '.png')
					td.grey.center(style="width:90px")
						=team.games
					td(style="width:140px")