mixin teamlist
	div#teamlist.contentlarge
		div.contentlargeheader
			h1 CURRENT RANKINGS
		table
			tr
				th
				th
				th
				th
				th='RATING'
				th='REGION'
				th='GAMES'
			each team, i in teams
				tr
					td(style="width:40px;").green='+1'
					td(style="width:30px;").blue=i+1	
					td(style="width:38px;")
						if (team.logos[0])
							a(href= '/teams/' + team.name)
								img(src= '/img/lgs/lgs-'+ team.logos[0] + '.png')
					td.teamname
						a(href= '/teams/' + team.name) #{team.name}
					td(style="width: 50px;")= Math.round(team.elo)
					td 
						img(src= '/img/' + team.region + '.png')
					td.grey= team.games